<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'app1/base.html' %}
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>


{% block content %}
<div class=" container h1-responsive font-weight-bold text-center text-black my-4" >
    <h1 class="jumbotron alert alert-warning">contact  person:kunal</h1>
    <h1 class="jumbotron alert alert-info">address: Chetu noida </h1>
    <h1 class="jumbotron alert alert-danger">mobile: 9971853195</h1>
</div>
{% endblock content %}

</body>
</html>