body{
background-color:lightblue;
}


.jumbo-color{
background-color:black;
 opacity: 1.3;
}


.form-control{
background-color:rgb(111, 118, 86);
}

 table, th, td {
  border: 1px solid black;

}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}